*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container{
    max-width: 90%;
    margin: auto;
}

.bus-color{
    color: #1DD100;
}