*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container{
    max-width: 90%;
    margin: auto;
}

.bus-color{
    color: #1DD100;
}

.seat{
    background: #F7F8F8;
    font-size: 18px;
    font-weight: 500;
    color: rgba(3, 7, 18, 0.50);
    padding: 17px 40px 17px 40px;
}

.rows{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}